@font-face {
  font-family: OpenSans;
  src: url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  src: url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff");
  font-weight: 700;
  font-style: normal;
}

 html {
    font-size: 14px;
  }

body {
  font-family: OpenSans;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.header {
  text-align: center;
  background-color: #272956;
  min-height: 565px;
  background-image: url(https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/football_767.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  z-index: 1;
  padding-bottom: 80px;
  box-sizing: border-box;
}

.header::before {
  content: " ";
  background-color: #171435;
  opacity: 0.9;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.title {
  display: block;
  padding-left: 20px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.header-logo {
  fill: #fff;
  width: 9.6rem;
  margin: 33px auto;
}

h1,
.title__subtitle,
h6 {
  font-size: 2rem;
  text-transform: uppercase;
  color: #ffffff;
}

h1 {
  color: #c0c1c6;
  display: block;
  margin-top: 80px;
}

.title__subtitle {
  margin-bottom: 86px;
  display: block;
  padding-left: 44px;
  color: #fff;
}


.socials {
  display: flex;
  align-items: center;
  background-color: #5e42b0;
  border-radius: 50px;
  margin: 0 auto;
  width: 20rem;
  justify-content: center;
  margin-bottom: 1rem;
  padding-top: 0.57rem;
  padding-bottom: 0.57rem;
}

.social-item {
  fill: #fff;
  width: 1.8rem;
  margin-right: 0.5rem;
}

.description {
  font-size: 0.57rem;
  color: #fff;
  text-transform: uppercase;
  text-align: left;
}

.social-discription {
  font-weight: 700;
  display: block;
}

h3 {
  color: #e7e7e7;
  text-transform: uppercase;
  font-size: 3.57rem;
  margin-top: 1.78rem;
  margin-left: 1.43rem;
  font-weight: 700;
  margin-bottom: 18px;
}

h4 {
  display: block;
  margin-left: 0.64rem;
  color: #c1c1c1;
  text-transform: uppercase;
  font-size: 23px;
  font-weight: 700;
}

.content,
.section-text {
  padding: 60px 20px 55px 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.number {
  font-weight: 700;
  font-size: 1rem;
  color: #000;
}

.items-number::after {
  content: " ";
  display: block;
  width: 1rem;
  border-bottom: 3px solid #5e42b0;
}

.item-number::after {
  content: " ";
  display: block;
  width: 1rem;
  border-bottom: 3px solid #ffffff;
}

.text,
.section__title {
  box-sizing: border-box;
  font-size: 15px;
  line-height: 18px;
  width: 100%;
  text-align: left;
  margin-top: 20px;
}

.content_img {
  margin: 18px auto -50px auto;
}

.content-img {
  margin: 22px auto -58px auto;
  display: block;
}

.section__number {
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  position: relative;
  z-index: 1;
  display: block;
  background-color: #5e42b0;
  padding: 25px 27px;
  margin-top: -55px;
  width: fit-content;
}

.section__number::after {
  content: " ";
  display: block;
  background-color: #5e42b0;
  width: 1rem;
  border-bottom: 3px solid #8f7bc8;
}

.section-text {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: flex-start;
}

.first-content {
  background-color: #fafafa;
  padding-top: 80px;
}

.second-content {
  background-color: #f5f4f9;
  padding-top: 60px;
}

.third-content {
  background-color: #5e42b0;
  padding-top: 60px;
}

.third-text {
  color: #fff;
}

.item-content {
  background-color: #090c35;
  padding-top: 60px;
}

.item__number {
  color: #8765dd;
}
.item__number::after {
  content: " ";
  display: block;
  width: 1rem;
  border-bottom: 3px solid #ffffff;
}

.item-text {
  font-size: 1.28rem;
  line-height: 2rem;
  color: #fff;
}

img {
  object-fit: cover;
  max-width: 100%;
  height: auto;
  display: block;
}

h5 {
  margin-top: 23px;
  font-size: 2rem;
  text-transform: uppercase;
  color: #e7e7e7;
}

.gallery-content {
  margin-bottom: 80px;
  padding: 0 20px;
}
	

.footer {
  width: 100%;
  text-align: center;
  min-height: 565px;
  background-image: url("https://raw.githubusercontent.com/Vestanu/vesta/master/sources/img/game_767.jpg");
  background-color: #5812ca;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  z-index: 1;
  padding-top: 98px;
}

.footer::before {
  content: " ";
  background-color: #171435;
  opacity: 0.9;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.footer-logo {
  padding: 13px 5px;
  display: block;
  fill: #fff;
  width: 72px;
  margin: auto;
  background-color: #543a9f;
  border-radius: 25%;
}

.wrapper {
  padding: 0 15px;
}

.footer-title {
  margin-top: 57px;
  margin-bottom: 75px;
}

.footer-description {
  color: #9b8ec1;
  font-size: 1rem;
  text-transform: uppercase;
}

@media (min-width: 641px) and (max-width: 960px) {
  .header {
    background-image: url("https://raw.githubusercontent.com/Vestanu/vesta/master/sources/img/football_1280.jpg");
  }
.header-logo {
  width: 210px;
  }
  
  
  h1,
  .title__subtitle {
    font-size: 64px;
  }
  
  h3 , h5 {
    font-size: 80px;
  }
  
  h4 {
    font-size: 32px;
  }
  
  .number {
  font-size: 18px;
  }
  
  .text {
    font-size: 16px;
    line-height: 28px;
  }
  
  .section__title {
    position: relative;
      font-size: 24px;
    line-height: 28px;
  }
  
  
   .content_img {
    position: absolute;
     left: -150px;
     top: 50px;
     height: 600px;
     
  }
  
  .first-content {
    margin-top: 50px;
  }
  
  .item-number::after , .items-number::after , .item__number::after {
    width: 20px;
  }
 
  .content {
    padding-left: 38%;
    padding-right: 25px;
    padding-top: 37px;
    padding-bottom: 37px;
  }
  
.gallery-content {
  margin-bottom: 79px;
  padding-left: 32px;
  padding-right: 15px;
}
	
  .section--title {
    position: relative;
  }
  
   .content-box {
   padding-right: 38%;
    padding-left: 25px;
    padding-top: 37px;
    padding-bottom: 37px; 
  }
  
  .title_section {
    text-align: left;
  }
  
  .content-img {
     position: absolute;
     right: 0;
     top: 30px;
     height: 520px;
     
  }
  
  
  .third-text {
    font-size: 18px;
    line-height: 28px;
  }
  
  
  .main__title {
    padding-left: 38%;
    padding-top: 60px;
  }
 
  .title {
    padding-left: 80px;
    margin-left: auto;
    margin-right: auto;
  }

  .section__number {
    padding: 44px;
    font-size: 24px;
    margin-top: -90px;
    width: fit-content;
  }
  
  .section__number::after {
    width: 26px;
  }

  
  
  .footer {
    background-image: url("https://raw.githubusercontent.com/Vestanu/vesta/master/sources/img/game_1280.jpg");
  }
  
  h6 {
    font-size: 80px;
  }
  
  .footer-description {
    font-size: 36px;
  }
}



@media (min-width: 961px) and (max-width: 1920px) {
  .header {
    background-image: url("https://raw.githubusercontent.com/Vestanu/vesta/master/sources/img/football_1920.jpg");
  }

  .header-logo {
  width: 190px;
  }
  
  h1,
  .title__subtitle,
  h6 {
    font-size: 95px;
  }

   h4 {
    font-size: 36px;
  }
  
  .item-number::after , .items-number::after , .item__number::after {
    width: 20px;
    margin-top: 3px;
  }
 
  .section__number::after {
    width: 27px;
  }
  
   .section__title {
    position: relative;
    margin-left: 20px;
    font-size: 20px;
  }
  
  .main__title {
    margin-top: 114px;
    margin-bottom: 50px;
    padding-left: calc( 50% - 20px);
  }
  
  
   .content_img {
    position: absolute;
     top: -90px;
     height: 750px;
     left: 40px;
     
  }
  
   .content {
    padding-left: 50%;
    padding-right: 25px;
    padding-top: 55px;
    padding-bottom: 55px;
  }
  
  .section--title {
    position: relative;
  }
  
 .section__title-items {
   padding-right: 178px;
 }
	
  picture {
    max-width: 50%
  }
  
  .section__number {
    margin-top: 40px;
    padding: 60px 70px;
    font-size: 24px;
    height: fit-content;
    position: absolute;
  }
  
  .number-items {
    margin-left: -90px;
  }
	
  .number-item {
    margin-right: -90px;
  }
	
   .content-box {
   padding-right: 50%;
    padding-left: 25px;
    padding-top: 55px;
    padding-bottom: 55px; 
  }
  
  .title_section {
    text-align: left;
  }
  
  .content-img {
    position: absolute;
    right: 0;
    top: -40px;
    height: 600px; 
  }
  
  img {
  object-fit: cover;
  height: auto;
  display: block;
    margin: 0;
  }
  
  .section-text {
    width: 50%;
    box-sizing: border-box;
  }
  
   .text {
    font-size: 16px;
    line-height: 28px;
  }
  
  h5 {
    margin-top: -95px;
    margin-left: 70px;
    margin-bottom: 70px;
    font-size: 80px;
  }
  
	
.gallery-row {
	display: flex;
}

.gallery-column {
	width: 50%;
}

.pic__item {
  width: 100%;
  height: auto;
  display: block;
}

.gallery-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
	
 .gallery-row:nth-child(2) {
  flex-direction: row-reverse;
}
  
  .number {
  font-size: 18px;
  } 
  
  .social-flex {
    display: flex;
    justify-content: center;
  }

  .socials {
    margin: 25px;
  }

  .title {
    padding-left: 182px;
    margin-left: auto;
    margin-right: auto;
  }

  .options {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
  }
  .footer {
    background-image: url("https://raw.githubusercontent.com/Vestanu/vesta/master/sources/img/game_1920.jpg");
  }
}

