#menupod{
	width: 350px !important;
	height: auto !important;
	position: absolute;
	top: 150px;
    left: 250px;
	background-color: #343434;
	color: silver;
	border: 2px solid #FF9800;
	border-radius: 6px;
	/*opacity:0.9;*/
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	padding: 5px;
}
.button-block button {
    margin: 5px;
    padding: 5px 10px;
    color: white;
    border: 1px solid white;
	border-radius: 8px;
}
.button-block button:hover {
    background: white;
    color: black;
}
.set{
	display: flex;
    justify-content: space-around;
}
select,input[type="text"]{
    width: 100%;
}
details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: .5em .5em 0;
	cursor:pointer;
}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
}

details[open] {
    padding: .5em;
}
details:focus,
summary:focus {
  outline: 0;
  outline: none;
}

.buttonstart{
    color: #fff;
    width: 100%;
    height: 33px;
    line-height: 32px;
    font-size: 11px;
    text-align: center;
    text-transform: uppercase;
    background: #137003;
	margin: 5px 0;
}
.buttonstart:hover {
    background: #25990f;
}
.buttonstart:active {
    background: #1c780b;
}

#searchNick{
	z-index: 99999;
    position: absolute !important;
    top: 25%;
    left: 25%;
    width: 200px;
    height: 300px;
    background-color: #343434;
    color: silver;
    padding: 5px;
    border: 2px solid #FF9800;
	overflow-y: auto;
	overflow-x: hidden;
	display: none;
}

.searchNick-input{
	padding: 5px;
    margin: 5px;
    width: 80% !important;
    font-size: 16px;
}

#searchNick hr {
	background: #FF9800;
}

#search_list {
	padding-left: 30px;
}

#search_list li {
	margin-bottom: 5px;
    font-size: 12px;
	word-wrap: break-word;
}
.search-count {
	font-size: 16px;
}
#search_list a {
text-decoration: none;
}
#searchss {
	border: 1px solid #fff;
    color: silver;
    padding: 5px;
}
